.main {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 25px;

}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
} 